.container-fluid {
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto
 }

 .mainp {
    max-width: 600px;
    margin-left: clamp(5px, 2%, 50px);
    margin-right: clamp(5px, 2%, 50px)
 }
 .head {
    margin-top: 50px;
    margin-bottom: 50px;
 }

 .allcards {
    margin-left: clamp(5px, 22%, 500px);
    margin-right: c(5px, 22%, 500px);
    padding-top: 50px;
 }

 .timet {
    margin-bottom: 0px;
    padding-top: 7px;
 }

 .cardbg {
    padding-bottom: 50px;
 }

 .card {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 20px;
    margin-bottom: 20px;
 }

 .foot {
    margin-top: 35px;
    margin-bottom: 35px;
 }

 .ham {
    background-color: black;
 }

 .aboutdesc {
    max-width: 700px;
    margin-right: 180px;
 }

 #expandHead {
    
 }
